body{
    background-color: black;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    color: darkred;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: darkred;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

button{
    background-color: brown;
    border: 1px solid orangered;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .5s;
}

button:hover{
    background-color: yellow;
    color: black;
}

button:active{
    background-color: orange;
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

.push{
    margin-top: auto;
}

.pos{
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
}

a{
    color: black;
}