body{
    background-color: black;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    color: darkred;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: darkred;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

button{
    background-color: brown;
    border: 1px solid orangered;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .5s;
}

button:hover{
    background-color: yellow;
    color: black;
}

button:active{
    background-color: orange;
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

.push{
    margin-top: auto;
}

.container-image{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pos{
    width: 25%;
    height: 25%;
}

.container-text{
    color: white;
    margin: 0px 3px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


a{
    color: black;
}

.ss{
    width: 50%;
    height: 50%;
}

.container-ss{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typo{
    width: 50%;
    height: 50%;
}

.container-para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
}

